:root {
    font-family: "Open Sans";

    --background-color: #F5F4F0;
    --border-color: #D9D9D9;

    --text-color-primary: #1B1B1B;
    --text-color-secondary: #333333;
    --text-color-tertiary: #696969;
    --text-color-headline: #E1624F;

    --accent-color-blue: #0C51A7;
    --accent-color-orange: #E95E10;
    --accent-color-pink: #E5245E;
    --accent-color-purple: #591B98;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    box-sizing: border-box;
    width: 1120px;
    margin: 60px auto;
}

.headline {
    padding-top: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color-headline);
}

.text {
    margin: 8px 0 64px 0;
}

.title {
    color: var(--text-color-primary);
    font-size: 36px;
    font-style: normal;
}

section > img {
    height: 630px;
    border-radius: 28px;
}

figcaption {
    color: var(--text-color-secondary);
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal; 
}

#line {
    width: 1120px;
    border: 1px solid var(--border-color);
    margin: 40px auto 40px ;
}

#card > img {
    height: 350px;
    width: 100%;
    margin: 48px 0 20px 0;
    border-radius: 28px;
}

.sugestion {
    margin-top: 50px;
}

li {
    margin-left: 20px;
}

.history {
    color: var(--accent-color-blue);
}

.couple {
    color: var(--accent-color-purple);
}

.family {
    color: var(--accent-color-pink);
}

.budget {
    color: var(--accent-color-orange);
}

.endText {
    color: var(--text-color-secondary);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer {
    color: var(--text-color-secondary);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-top: 65px;
}